/* Form Styling */

.formSection {
  padding: 8px;
}

.formContainer {
  background-color: #eaeaea;
  padding: 16px;
  border-radius: 5px;
  margin: 8px;
}

/* Alignment */

.alignCenter {
  align-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
}

/* Margin */

.smallMarginHorizontal {
  margin-left: 8px;
  margin-right: 8px;
}

/* Icon Links */

.iconLink {
  cursor: pointer;
  margin: 5px;
  transition: 0.3s;
}

.iconLink:hover {
  scale: 1.15;
}

/* Video Recording Animation */

.video.recording {
  animation: border-change 3s infinite;
}

@keyframes border-change {
  0% {
    border: 2px solid transparent;
  }

  25% {
    border: 2px solid red;
  }

  100% {
    border: 2px solid transparent;
  }
}

.video.recording.minimized {
  animation: background-change 3s infinite;
}

@keyframes background-change {
  0% {
    background-color: transparent;
  }

  25% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}

/* Drag Behavior */

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.modalBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sourceItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-width: 0;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.selectedSourceItem {
  border-width: 1px;
  border-color: #009dff;
}

.sourceItem:hover {
  transform: scale(1.05);
}

.sourceItemImage {
  height: 90px;
}

.sourceItemName {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

/** Maintoolbar **/

.modal-content{
    background-color: #282828 !important;
}

.toolbar-container {
  z-index: 99;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282828;
  padding: 0;
  margin: 0;
  max-width: unset !important;
  text-align: center;
  color: #fff;
}

.toolbar-container > * {
  color: #a29a9a;
}

.toolbar-row {
  justify-content: space-between;
  align-items: stretch !important;
  padding-left: 50px;
  padding-right: 50px;
}

.toolbar-item {
  display: flex;
  align-items: stretch !important;
  flex-wrap: wrap;
  padding: 15px;
}

.toolbar-item > * {
  width: 100%;
}

.toolbar-item > p {
  padding: 2px;
  background-color: #000000;
  margin-top: 5px;
  margin-bottom: 0;
  border-radius: 5px;
}

.toolbar-item:hover{
  cursor: pointer;
  background-color: #000;
}
