.formSection{
  padding: 8px;
}

.formContainer{
  background-color: #eaeaea;
  padding: 16px;
  border-radius: 5px;
  margin: 8px;
}

.alignCenter{
  align-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
}

.smallMarginHorizontal{
  margin-left: 8px;
  margin-right: 8px;
}

.iconLink{
  cursor: pointer;
  margin: 5px;
  transition: .3s;
}

.iconLink:hover{
  scale: 1.15;
}

.video.recording {
  animation: border-change 3s infinite;
}

@keyframes border-change {
  0% {
    border: 2px solid transparent;
  }
  25% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid transparent;
  }
}

.video.recording.minimized {
  animation: background-change 3s infinite;
}

@keyframes background-change {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: red;
  }
  100% {
    background-color: transparent;
  }
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}