:root {
    --white: #FFF;
    --dim-white: #a8a8a8;
    --dark: #282828;
    --super-dark: #1c1c1c;
    --shadow-dark: rgba(28, 28, 28, 0.8);
    --blue: #004369;
    --red: #ff0000;
}

/* ----------- Video recording animation ------------ */

.video.recording {
    animation: border-change 3s infinite;
}

@keyframes border-change {
    0% {
        border: 2px solid transparent;
    }

    25% {
        border: 2px solid var(--red);
    }

    100% {
        border: 2px solid transparent;
    }
}

.video.recording.minimized {
    animation: background-change 3s infinite;
}

@keyframes background-change {
    0% {
        background-color: transparent;
    }

    25% {
        background-color: var(--red);
    }

    100% {
        background-color: transparent;
    }
}

/* ----------- Drag behavior ------------ */

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/* ----------- Toolbar ------------ */

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.toolbar-container {
    z-index: 50;
    position: relative;
    left: 0;
    right: 0;
    background-color: var(--super-dark);
    padding: 0;
    margin: 0;
    max-width: unset !important;
    text-align: center;
    color: var(--white);
    box-shadow: 0px -10px 50px var(--shadow-dark);
}

.toolbar-container > * {
    color: var(--dim-white);
}

.logo-bar {
    max-width: 100% !important;
    background-color: var(--super-dark);
    box-shadow: 0px 10px 50px var(--shadow-dark);
    padding: 20px;
}

.logo-bar-row {
    justify-content: space-between;
    align-items: center;
}

.toolbar-row {
    justify-content: space-between;
    align-items: stretch !important;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap !important;
}

.toolbar-item {
    color: var(--dim-white) !important;
    display: flex;
    align-items: stretch !important;
    flex-wrap: wrap;
    padding: 15px;
}

.toolbar-item > * {
    width: 100%;
}

.toolbar-item > p {
    padding: 2px;
    background-color: var(--super-dark);
    margin-top: 5px;
    margin-bottom: 0;
    border-radius: 5px;
    text-align: center;
    user-select: none;
}

.toolbar-item:hover {
    cursor: pointer;
    color: var(--white) !important;
    background-color: var(--blue);
}

/** title bar **/
.title-bar {
    background-color: var(--super-dark);
}

.title-bar > .col > svg {
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px 10px 5px
}

.title-bar > .col > svg:hover {
    color: var(--blue);
}

/* ----------- No sources found ------------ */

.sourceNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* ----------- Source item ------------ */
.sourceItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--super-dark);
    color: var(--white);
    border-radius: 5px;
    border-style: solid;
    border-width: 0;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.selectedSourceItem {
    border-width: 1px;
    border-color: var(--blue);
}

.sourceItem:hover {
    transform: scale(1.05);
}

.sourceItemImage {
    max-height: 90px;
    max-width: 100%;
}

.sourceItemName {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

/* ----------- Notification ------------ */

.notification {
    position: absolute !important;
    top: 25px;
    left: 0;
    z-index: 999;
    width: fit-content;
}

.notification > p {
    margin: 0;
    padding: 0;
}

/* ----------- Minimal view ------------ */

.minimal-view-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: #ffffff;
    background-color: #282828;
    background-image: url('/src/assets/handwave-favicon-color.svg');
    background-size: 75vh;
    background-position: left 10vh bottom 12.5vh;
    background-repeat: no-repeat;
}

.minimal-view-row {
    justify-content: flex-end;
    align-items: stretch !important;
}

/* ----------- Primary view ------------ */
.content {
    max-width: 100%;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
}

.video-container {
    flex: 1;
    margin: 0;
    padding: 20px;
    align-items: center;
}

.video-container > div {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* ----------- Bootstrap override ------------ */

div.modal-footer {
    color: var(--white) !important;
    border-top: none;
}

.modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.modal-header {
    border-bottom: none;
    color: var(--white) !important;
}

.modal-content {
    color: var(--white) !important;
    background-color: var(--dark) !important;
}

ul.nav-tabs {
    border-bottom-color: var(--blue);
}

.nav-link {
    color: var(--dim-white) !important;
}

.nav-link:hover {
    border-color: var(--blue) !important;
}

.nav-link.active {
    color: var(--white) !important;
    background-color: var(--super-dark) !important;
    border-color: var(--blue) !important;
    border-bottom: none !important;
}

.badge > p {
    margin: 0;
}

div.badgeRow {
    padding: 0;
    margin: 5px;
}

.form-select, .form-control {
    background-color: transparent !important;
    color: var(--dim-white) !important;
    border: none !important;
    border-bottom: solid 1px var(--dim-white) !important;
    border-radius: 0 !important;
}

.form-select > option {
    background-color: var(--dark);
    color: var(--dim-white) !important;
}

.form-select:focus, .form-control:focus {
    color: var(--white) !important;
}